.investorPortalWrapper {
    @apply relative
    mx-auto
    overflow-x-hidden
    overflow-y-hidden
    -mt-[8rem]
    lg:-mt-[8rem]
    xl:-mt-[20rem]
    order-first;
}

.investorPortal {
    @apply relative
    overflow-x-clip
    xl:ml-[21rem]
    xl:mt-[10rem]
    mt-12
    xs:mt-0
    -right-[2rem]
    xs:right-0
    z-0;
}

.investorPortalScale {
    @apply object-cover
    xs:object-fill;
}

.testimonial {
    @apply mt-14
    mb-14
    xs:ml-[2.45rem]
    sm:max-w-[80rem]
    sm:mx-auto;
}