.investorPortalWrapper {
    @apply relative
    mx-auto
    overflow-x-hidden
    overflow-y-hidden
    -mt-[8rem]
    lg:-mt-[8rem]
    xl:-mt-[20rem]
    order-first;
}

.investorPortal {
    @apply relative
    overflow-x-clip
    xl:ml-[36rem]
    -right-[5rem]
    xs:right-0
    z-0;
}