.sectionHeading {
    @apply xl:grid
    xl:grid-cols-2
    xl:mx-auto;
}
.securityBadgesDesktop {
    @apply hidden
    lg:grid
    mx-auto
    -mt-[2.5rem]
    xs:-mt-[5rem];
}

.button {
    @apply font-buch
    text-xs
    text-cultured
    inline-flex
    gap-3
    items-end
    mb-3
    mt-3
    ml-[50rem];
}

.securityBadgesMobile {
    @apply grid
    lg:hidden
    mx-auto
    -mt-[4rem];
}

.scoreScale {
    @apply scale-125;
}