.wrapper {
    @apply w-[17.5rem]
    md:w-[28.75rem]
    antialiased;
}

.title {
    @apply font-halbfett
    text-gunMetal
    text-xl md:text-3xl
    pb-[0.938rem];
}

.subtitle {
    @apply font-buch
    text-graniteGray
    md:text-lg
    pt-[0.938rem];
}

.line {
    @apply bg-gradient-to-r
    from-orangeSoda
    to-ultramarineBlue
    h-px;
}