.wrapper {
    @apply w-[26rem]
    ml-[2rem]
    sm:ml-[7.5rem]
    antialiased;
}

.title {
    @apply font-kraftig
    text-gunMetal
    text-3xl
    pb-[0.938rem];
}

.subtitle {
    @apply font-buch
    text-graniteGray
    text-lg
    pt-[0.938rem];
}

.line {
    @apply bg-gradient-to-r
    from-orangeSoda
    to-ultramarineBlue
    h-px;
}