.btn {
    @apply hover:underline
    text-gunMetal
    text-xs
    xs:text-sm
    font-buch
    w-[9rem]
    xs:w-[10.5rem]
    h-6
    inline-flex
    items-center
    cursor-pointer
    antialiased;
}

.num {
    @apply font-mono
    items-start
    mr-2
    ml-1;
}

.arrow {
    @apply absolute
    px-[9rem]
    active:animate-moveRight;
}