.margin {
    @apply
    ml-[2.45rem]
    sm:ml-[6.5rem]
    md:ml-[15rem]
    lg:mx-auto;
}

.wrapper {
    @apply grid
    grid-cols-2
    lg:flex
    mx-auto
    gap-5
    lg:gap-10
    mt-[3.875rem]
    mb-14;
}

.logo {
    @apply items-start
    md:ml-0
}

.footer {
    @apply order-2
    lg:order-1
    lg:mr-[9rem]
    w-[13rem]
    md:w-[19rem];
}

.footerLinkGrid {
    @apply order-1
    lg:order-2
    ml-10
    sm:ml-0;
}