.width {
    @apply md:flex
    w-[20rem]
    sm:w-[32rem]
    ml-[2.45rem]
    sm:ml-[7.5rem]
    mt-20
    antialiased;
}
.wrapper {
    @apply flex-initial
    w-[17.5rem]
    sm:w-[27.5rem]
    md:w-[32.5rem];
}

.num {
    @apply flex-none
    w-[2rem]
    sm:w-[4.5rem]
    h-10
    text-[2.5rem]
    font-mono;
}

.header {
    @apply font-buch
    text-xs
    uppercase
    mb-2
    mt-6;
}

.title {
    @apply font-kraftig
    text-xl
    sm:text-[1.375rem]
    leading-none
    mb-4;
}

.line {
    @apply bg-gradient-to-r
    from-orangeSoda
    to-ultramarineBlue
    h-px
    mb-4;
}

.paragraph {
    @apply font-buch
    text-gunMetal
    text-sm
    xs:text-[0.938rem];
}

.headerLight {
    @apply text-graniteGray;
}

.headerDark {
    @apply text-lightGray;
}

.titleLight {
    @apply text-gunMetal;
}

.titleDark {
    @apply text-white;
}

.paragraphLight {
    @apply text-gunMetal;
}

.paragraphDark {
    @apply text-cultured;
}