.sectionHeading {
    @apply
    mb-[7rem]
    -mt-20
    xs:-mt-10
    md:w-[48.5rem]
    lg:w-[52.5rem]
    mx-auto;
}

.alloSwap {
    @apply mx-auto
    -mt-[6.5rem]
    xl:-mt-[8rem]
    xl:mr-[25rem];
}