.sectionGrid {
    @apply grid grid-cols-1
    xl:flex
    max-w-[26rem]
    md:max-w-[80rem]
    mx-auto
    sm:-mt-8;
}

.logo {
    @apply items-start
    mt-12
    xl:mt-[9.5rem]
    mb-12
    ml-[2.45rem]
    xl:ml-0;
}

.margin {
    @apply mb-12
    ml-[2.45rem]
    xl:ml-0;
}

.table {
    @apply order-first
    xl:order-last
    relative
    mt-4
    sm:mt-[5.5rem]
    xl:mt-[7.5rem];
}

.tableDesktop {
    @apply hidden
    mx-auto
    lg:grid
    md:w-[36rem]
    lg:w-[42rem]
    xl:w-[50rem];
}

.tableMobile {
    @apply grid
    mx-auto
    w-[23.5rem]
    sm:w-[26rem]
    md:w-[28rem]
    lg:hidden;
}

.notifications {
    @apply absolute
    w-[170px]
    md:w-[190px]
    xl:w-[220px]
    top-0
    right-24
    sm:right-32
    md:right-36
    lg:right-28
    lg:mt-28;
}

.socialProofDesktop {
    @apply hidden
    md:grid
    md:max-w-xl
    lg:max-w-full
    mx-auto;
}

.socialProofMobile {
    @apply grid
    md:hidden;
}