.sectionGrid {
    @apply grid grid-cols-1
    xl:flex
    max-w-[26rem]
    md:max-w-[80rem]
    mx-auto;
}

.wrapper {
    @apply max-w-xl;
}

.logo {
    @apply items-start
    mt-12
    xl:mt-[9.5rem]
    mb-12
    ml-[2.45rem]
    xl:ml-0;
}

.margin {
    @apply mb-12
    ml-[2.45rem]
    xl:ml-0;
}

.table {
    @apply order-first
    xl:order-last
    relative
    mt-4
    sm:mt-[5.5rem]
    xl:mt-[7.5rem];
}

.tableWidth {
    @apply w-[22.5rem]
    sm:w-[26rem]
    md:w-[36rem]
    lg:w-[42rem]
    xl:w-[48rem];
}

.notifications {
    @apply absolute
    w-[150px]
    xl:w-[180px]
    top-0
    right-0;
}

.socialProofDesktop {
    @apply hidden
    md:grid
    md:max-w-xl
    lg:max-w-full
    mx-auto;
}

.socialProofMobile {
    @apply grid
    md:hidden;
}