.avatarGrid {
    @apply grid
    grid-cols-2
    max-w-[50rem]
    mb-[8.75rem]
    mt-[5.625rem]
    ml-[25rem];
}

.backerGrid {
    @apply grid
    grid-cols-2
    gap-8
    ml-[25rem]
    mb-[2.75rem]
    max-w-[26rem];
}

.captionBackers {
    @apply ml-[25rem]
    mb-[2.25rem];
}