.avatarGrid {
    @apply grid
    grid-cols-1
    lg:flex
    mb-16
    mt-[5.625rem]
    mx-auto
    gap-4;
}

.smallCaption {
    @apply lg:mr-48;
}

.backerGrid {
    @apply grid
    grid-cols-1
    md:grid-cols-2
    gap-4
    mx-auto
    mb-[2.75rem];
}

.captionBackers {
    @apply
    mx-auto
    mb-[2.25rem];
}

.compliance {
    @apply
    hidden
    sm:grid
    mx-auto
    -mt-[5rem];
}

.complianceMobile {
    @apply
    sm:hidden
    mx-auto
    -mt-[5rem]
    -mb-7;
}