.sectionGrid {
    @apply grid
    grid-cols-1
    xl:grid-cols-2
    xl:mx-auto;
}

.margin {
    @apply -mt-6
    xl:mt-0;
}

.collectContributionsWrapper {
    @apply relative
    mx-auto
    overflow-hidden
    -mt-[6.5rem]
    sm:-mt-[9.5rem]
    order-first
    xl:order-last;
}

.collectContributions {
    @apply relative
    overflow-hidden
    xs:right-0
    z-0;
}

.supportedChainsDesktop {
    @apply hidden
    sm:-mb-[12rem]
    md:mb-0
    sm:grid
    xl:grid-cols-2
    xl:-mt-[9rem]
    mx-auto;
}

.supportedChainsMobile {
    @apply grid
    sm:hidden
    mx-auto
    mt-7
    -mb-[12rem];
}

.chartWrapper {
    @apply hidden
    md:grid
    mt-[10rem]
    -mb-[10rem]
    mx-auto
    md:max-w-2xl
    lg:max-w-4xl
    xl:max-w-full
}

.assetManager {
    @apply grid
    xl:grid-cols-2
    xl:mx-auto
    order-last
    mb-[9.5rem];
}