.sectionGrid {
    @apply container
    grid
    grid-cols-1
    xl:grid-cols-2
    mt-5
    -mb-20
    xs:mb-0
    xs:mt-0
    xl:max-w-[80rem]
    xl:-mt-16;
}

.investorCard {
    @apply relative
    overflow-hidden
    -mt-[25rem]
    xs:-mt-[6.5rem]
    mr-[6.5rem]
    xs:mx-auto
    xl:order-last
    order-first
    shrink-0
    xs:right-0
    z-0;
}

.scale {
    @apply scale-[0.6]
    xs:scale-100;
}

.investorManagerWrapper {
    @apply relative
    xs:mx-auto
    overflow-x-hidden
    overflow-y-hidden
    order-first
    xs:order-last;
}

.investorManager {
    @apply relative
    overflow-x-clip
    overflow-y-clip
    -right-[16rem]
    scale-125
    xs:scale-100
    xs:ml-[13rem]
    xs:right-0;
}