.sectionGridMobile {
    @apply
    xs:hidden
    container
    grid
    grid-cols-1
    mt-5
    -mb-20;
}

.investorCardMobile {
    @apply relative
    overflow-hidden
    -mt-[25rem]
    -ml-[4.5rem]
    mr-[6.5rem]
    order-first
    shrink-0
    z-0;
}

.scaleInvestorCard {
    @apply scale-[0.7];
}

.investorManagerWrapperMobile {
    @apply relative
    overflow-x-hidden
    overflow-y-hidden
    order-first;
}

.investorManagerMobile {
    @apply relative
    overflow-x-clip
    overflow-y-clip
    -right-[13.5rem];
}

.scaleInvestorManager {
    @apply scale-[1.15];
}

.flexGridDesktop {
    @apply xl:flex;
}

.investorCardDesktop {
    @apply hidden
    xs:grid
    mx-auto
    -mt-[8rem]
    md:-mt-[10rem]
    xl:-mt-[21rem]
    order-last
    ml-4;
}

.InvestorManagerDesktop {
    @apply hidden
    xs:grid
    mx-auto
    md:max-w-full
    xl:-mt-[7rem]
    mr-5
    order-1;
}

.sectionHeading {
    @apply grid
    grid-cols-2
    mx-auto;
}