.sectionGrid {
    @apply grid
    grid-cols-1
    md:mr-[19rem]
    xl:grid-cols-2
    xl:max-w-[110rem]
    xl:-mt-24;
}

.investorCard {
    @apply relative
    overflow-hidden
    -mt-[25rem]
    xs:-mt-[6.5rem]
    mr-[6.5rem]
    xs:mx-auto
    xl:order-last

    order-first
    xs:right-0
    z-0;
}

.scale {
    @apply scale-[0.6]
    xs:scale-100;
}

.investorManagerWrapper {
    @apply relative
    xs:mx-auto
    overflow-x-hidden
    overflow-y-hidden
    order-first
    xs:order-last;
}

.investorManager {
    @apply relative
    overflow-x-clip
    overflow-y-clip
    -right-[16rem]
    scale-125
    xs:scale-100
    xs:ml-[13rem]
    xs:right-0;
}