.sectionGrid {
    @apply container
    grid
    grid-cols-1
    xl:grid-cols-2
    mt-5
    xs:mt-0
    xl:-mt-16
    lg:mx-auto
    -mb-20
    xs:mb-0;
}

.investorCard {
    @apply relative
    overflow-hidden
    -mt-[25rem]
    xs:-mt-[6.5rem]
    lg:-mt-[10rem]
    xl:-mt-[16.5rem]
    xl:ml-[8rem]
    mr-[6.5rem]
    xs:mx-auto
    xl:order-last
    order-first
    shrink-0
    xs:right-0
    z-0;
}

.scaleInvestorCard {
    @apply scale-[0.75]
    xs:scale-100;
}

.investorManagerWrapper {
    @apply relative
    xs:mx-auto
    xl:scale-125
    xl:-mt-10
    overflow-x-hidden
    overflow-y-hidden
    order-first
    xs:order-last;
}

.investorManager {
    @apply relative
    overflow-x-clip
    overflow-y-clip
    -right-[16rem]
    xs:ml-[13rem]
    xs:right-0;
}

.scaleInvestorManager {
    @apply scale-[1.2]
    xs:scale-100;
}

.sectionHeading {
    @apply grid
    grid-cols-2
    mx-auto;
}