.width {
    @apply flex
    w-[33rem]
    ml-[2rem]
    sm:ml-[7.5rem]
    mt-20;
}
.wrapper {
    @apply flex-initial
    w-[27.5rem];
}

.num {
    @apply flex-none
    w-[4.5rem]
    h-10
    text-[2.5rem]
    font-mono;
}

.header {
    @apply font-buch
    text-xs
    uppercase
    mb-2
    mt-6;
}

.title {
    @apply font-leicht
    text-[1.375rem]
    leading-none
    mb-4;
}

.line {
    @apply bg-gradient-to-r
    from-orangeSoda
    to-ultramarineBlue
    h-px
    mb-4;
}

.paragraph {
    @apply font-leicht
    text-gunMetal
    text-sm;
}

.headerLight {
    @apply text-graniteGray;
}

.headerDark {
    @apply text-lightGray;
}

.titleLight {
    @apply text-gunMetal;
}

.titleDark {
    @apply text-white;
}

.paragraphLight {
    @apply text-gunMetal;
}

.paragraphDark {
    @apply text-cultured;
}