.wrapper {
    @apply mt-8
    hover:underline
    text-sm
    font-buch
    w-[10.5rem]
    inline-flex
    items-center
    mb-6
    cursor-pointer
    antialiased;
}

.link {
    @apply px-1;
}

.light {
    @apply text-gunMetal;
}

.dark {
    @apply text-cultured;
}