.wrapper {
    @apply xl:mx-auto;
}

.sectionHeading {
    @apply grid
    grid-cols-1
    xl:grid-cols-2
    xl:mx-auto;
}

.vestingBarWrapper {
    @apply relative
    mx-auto
    xs:w-[27.5rem]
    xs:h-[23.875rem]
    xl:mr-[10rem]
    xl:-mt-[17rem]
    max-w-md
    lg:max-w-full
    overflow-x-hidden
    overflow-y-hidden
    -mt-[5rem]
    order-first
    -mb-10
    xs:-mb-4;
}

.vestingBar {
    @apply relative
    overflow-x-clip
    -right-[6.5rem]
    xs:right-0
    z-0;
}