.wrapper {
    @apply xl:mx-auto;
}

.sectionHeading {
    @apply grid
    grid-cols-1
    xl:grid-cols-2
    xl:mx-auto;
}

.vestingBarWrapper {
    @apply relative
    mx-auto
    xs:w-[36.3rem]
    xs:h-[31.515rem]
    xl:mr-[10rem]
    xl:-mt-[10rem]
    max-w-md
    lg:max-w-full
    overflow-x-hidden
    overflow-y-hidden
    -mt-[5rem]
    order-first
    -mb-10
    xs:-mb-32 lg:-mb-10;
}

.vestingBar {
    @apply relative
    overflow-x-clip
    -right-[3rem]
    xs:right-0
    z-0;
}