.wrapper {
    @apply w-[20rem]
    ml-0
    sm:w-[37rem]
    lg:w-[48rem]
    mx-auto
    antialiased;
}

.quoteLeft {
    @apply ml-8
    lg:ml-0
    lg:absolute
    lg:mt-6;
}

.quoteRight {
    @apply mt-[10.5rem];
}

.header {
    @apply font-buch
    text-xs
    text-graniteGray
    uppercase
    mb-2;
}

.testimonial {
    @apply w-[20rem]
    sm:w-[34rem]
    lg:w-[44.5rem]
    leading-none
    font-buch
    font-extrabold
    text-transparent
    text-lg
    sm:text-2xl
    bg-clip-text
    bg-gradient-to-r
    from-ultramarineBlue
    to-orangeSoda
    mb-3.5;
}

.line {
    @apply h-px
    mb-6
    mt-[0.5rem]
    bg-graniteGray;
}

.items {
    @apply inline-flex
    items-baseline;
}

.name {
    @apply font-buch
    text-graniteGray
    text-base
    font-bold
    w-60;
}

.logo {
    @apply sm:ml-[12rem] lg:ml-[24rem];
}