.wrapper {
    @apply w-[20rem]
    sm:w-[37rem]
    lg:w-[48rem]
    mx-auto
    overflow-hidden
    antialiased;
}

.quoteLeft {
    @apply ml-8
    lg:ml-0
    lg:absolute
    lg:mt-6;
}

.quoteRight {
    @apply mt-[5rem] sm:mt-[7.5rem] lg:mt-[10.5rem] mr-5 lg:mr-0;
}

.header {
    @apply font-buch
    text-xs
    text-graniteGray
    uppercase
    mb-2;
}

.testimonial {
    @apply w-[20rem]
    sm:w-[34rem]
    lg:w-[44.5rem]
    leading-none
    font-buch
    font-extrabold
    text-transparent
    text-[1.5rem]
    sm:text-[1.75rem]
    lg:text-[2.5rem]
    bg-clip-text
    bg-gradient-to-r
    from-ultramarineBlue
    to-orangeSoda
    mb-3.5;
}

.line {
    @apply h-px
    mb-6
    mt-[0.875rem]
    bg-graniteGray;
}

.items {
    @apply inline-flex
    items-baseline;
}

.name {
    @apply font-buch
    text-graniteGray
    text-base
    font-bold;
}

.logo {
    @apply  ml-[5rem] sm:ml-[20rem] lg:ml-[33.5rem];
}