.sectionGrid {
    @apply grid
    grid-cols-1
    xl:grid-cols-2
    xl:mx-auto;
}

.margin {
    @apply -mt-10
    sm:mb-10
    xl:mb-0
    xl:mt-0;
}

.allDealsWrapper {
    @apply relative
    mx-auto
    overflow-x-hidden
    overflow-y-hidden
    -mt-[6.5rem]
    order-first
    xl:order-last;
}

.allDeals {
    @apply relative
    overflow-hidden
    -right-[2.5rem]
    xs:right-0
    z-0;
}

.scale {
    @apply scale-[1.15]
    xs:scale-100;
}